<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>cafe4code company</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

</head>
<body>

    <p>
        user: <span sec:authentication="principal.username"></span>
    </p>
<hr>
    <p>
        Role: <span sec:authentication="principal.authorities"></span>
    </p>
<hr>

    <h1>hello <span sec:authentication="principal.username" ></span></h1>

<hr>
    <p>
        <a th:href="@{/leaders}">leadership meeting</a>
        (only for managers)
    </p>
    <p>
        <a th:href="@{/systems}">admins meeting</a>
        (only for admins)
    </p>
<hr>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" class="btn btn-danger">
    </form>

</body>
</html>