<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!--    <p th:text="'the time on server is'+ ${theDate} " class="time"/>-->

<br><br>

<!--    student name is : <span th:text=" ${param.studentName} " />-->

<br><br>

    <span th:text=" ${massage} " />

</body>
</html>