<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2>student form</h2>
<form th:action="@{/processstudent}" th:object="${student}" method="post">

    first name : <input type="text" th:field="*{firstName}" />

    <br><br>

    last name  : <input type="text" th:field="*{lastName}" />

    <br><br>

    <select th:field="*{country}">
        <option th:each=" tempcountry : ${countries} " th:value="${tempcountry}" th:text="${tempcountry}" />
    </select>

    <br><br>

    favorite programming language:
    <input type="radio"
           th:field="*{favLang}"
           th:each="lang : ${programLanguage}"
           th:value="${lang}"
           th:text="${lang}" />

    <br><br>

    favorite OS:
    <input type="checkbox"
           th:field="*{favOs}"
           th:each="os : ${operatingSystems}"
           th:value="${os}"
           th:text="${os}"/>





    <br><br>




    <input type="submit" value="save" />
    <input type="reset" value="reset">
</form>

</body>
</html>